[Unit]
Description=gps collection
After=multi-user.target dev-ttyGPS.device greg.service

[Service]
User=pi
Group=pi
ExecStart=/opt/wailin/station/gps.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
